//Background Color Setting
@mixin set_bg($c) {
	@if ($c == $pr_color) {
		background-color: $c !important;
		color: #fff !important;
	}
	@elseif ($c == $tr_color) {
		background: $c !important;
		color: #000 !important;
	}
	@else {
		background-color: #fff !important;
		color: #000 !important;
	}
}
//Font Weight Property
@mixin fw($var) {
	@if ($var == 'l') {
		font-weight: lighter;
		-webkit-font-smoothing: antialiased;
	}
	@elseif ($var == 'b') {
		font-weight: bolder;
		-webkit-font-smoothing: antialiased;
	}
	@elseif ($var == 'b') {
		font-weight: normal !important;
		-webkit-font-smoothing: antialiased;
	}
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}